<footer id="footer" class="clearfix">
  <% if (theme.footer) { %>
    <div class="footer">
      <%- markdown(theme.footer) %>
    </div>
    <br>
  <%}%>
  <% if (theme.social) { %>
    <div class="social-wrapper">
      <% (theme.social||[]).forEach(function(value){ %>
        <% if (value.url && value.icon) { %>
          <a href="<%= url_for(value.url) %>"
            class="social <%- value.icon %> flat-btn"
            target="_blank"
            rel="external nofollow noopener noreferrer">
          </a>
        <%}%>
      <%})%>
    </div>
  <%}%>
  <br>
  Copyright <i class="far fa-copyright"></i> 2019-<%= date(new Date(), 'YYYY') %>
  <a href="https://www.codingpy.cn/" target="_blank"> <%= config.author || config.title %> </a>&nbsp;&nbsp;|&nbsp;&nbsp;

  <!-- 网站运行时间 -->
  <span id="timeDate">正在载入...</span><span id="times"><span><i class="fa fa-spinner fa-spin"> </i></span></span>
  <script>
  var now = new Date(); 
  function createtime() {
    var grt= new Date("07/04/2019 08:30:00");//建站时间2019-07-04
    now.setTime(now.getTime()+250); 
    days = (now - grt ) / 1000 / 60 / 60 / 24; dnum = Math.floor(days); 
    hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours); 
    if(String(hnum).length ==1 ){hnum = "0" + hnum;} minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum); 
    mnum = Math.floor(minutes); if(String(mnum).length ==1 ){mnum = "0" + mnum;} 
    seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum); 
    snum = Math.round(seconds); if(String(snum).length ==1 ){snum = "0" + snum;} 
    document.getElementById("timeDate").innerHTML = "本站已安全运行了 "
    document.getElementById("times").innerHTML = dnum +" 天 " + hnum + " 小时 " + mnum + " 分 " + snum + " 秒"; 
    /*document.getElementById("times").style.color="#0056FF";*/
    }
    setInterval("createtime()",250);
  </script>&nbsp;&nbsp;|&nbsp;&nbsp;

  <!--
  Powered by <a href="https://hexo.io/zh-cn/" target="_blank" class="codename">Hexo</a>
  Theme <a href="https://xaoxuu.com/wiki/material-x/" target="_blank" class="codename">Material X</a> by <a href="https://xaoxuu.com/" target="_blank" class="codename">xaoxuu</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <i class="fab fa-creative-commons"></i> <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" title="本站点采用知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议进行许可" target="_blank">BY-NC-SA 4.0</a>
  -->
  
  <a href="https://www.codingpy.cn/sitemap.xml" target="_blank">站点地图</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <script type="text/javascript" src="https://v1.cnzz.com/z_stat.php?id=1278005237&web_id=1278005237"></script><br /><br />


  <div class="github-badge">
	<a style="color: #fff" rel="license" href="https://hexo.io/" target="_blank" title="由 Hexo 框架搭载">
		<span class="badge-subject">Powered</span><span class="badge-value bg-blue">Hexo</span>
	</a>
  </div>
  <div class="github-badge">
	<a style="color: #fff" rel="license" href="https://github.com/" target="_blank" title="静态网页托管于 GitHub Pages 和 Coding Pages">
		<span class="badge-subject">Hosted</span><span class="badge-value bg-brightgreen">GitHub &amp; Coding</span>
	</a>
  </div>
  <div class="github-badge">
	<a style="color: #fff" rel="license" href="https://activity.huaweicloud.com/" target="_blank" title="域名由华为云提供">
		<span class="badge-subject">DNR</span><span class="badge-value bg-blueviolet">HuaweiCloud</span>
	</a>
  </div>
  <div class="github-badge">
	<a style="color: #fff" rel="license" href="https://www.upyun.com/" target="_blank" title="又拍云 提供 CDN 加速服务">
		<span class="badge-subject">CDN</span><span class="badge-value bg-orange">又拍云</span>
	</a>
  </div>
  <div class="github-badge">
    <a style="color: #fff" rel="license" href="https://xaoxuu.com/wiki/material-x/" target="_blank" title="本站使用 Material X 主题">
		<span class="badge-subject">Theme</span><span class="badge-value bg-blue">Material X</span>
	</a>
  </div>
  <div class="github-badge">
    <a style="color: #fff" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" title="本站采用知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议进行许可">
		<span class="badge-subject"><i class="fa fa-copyright"></i></span><span class="badge-value bg-lightgrey">BY-NC-SA 4.0</span>
	</a>
  </div>
  <div class="github-badge">
    <a style="color: #fff" rel="license" href="https://996.icu/" target="_blank" title="Star 996.ICU">
    <span class="badge-subject">Link</span><span class="badge-value bg-red">996.ICU</span></a>
  </div>
  <div class="github-badge">
    <span class="badge-subject">UV</span><span class="badge-value bg-orange" id="busuanzi_value_site_uv"></span>
  </div>
  <div class="github-badge">
    <span class="badge-subject">PV</span><span class="badge-value bg-brightgreen" id="busuanzi_value_site_pv"></span>
  </div>


</footer>
